/* intuitivni box-sizing */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font: 16px/1.5 sans-serif;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-family: Raleway;
}

p {
  font-family: Homemade Apple;
  font-size: 1.5rem;
}

/*
Nastylujte header tak, aby byl nadpis a podnadpis vedle sebe, na opačných koncích stránky. Text podnadpisu zarovnejte doprava

Nastylujte galerii tak, aby byly vedle sebe dva sloupce obrázků. 
Potom zkuste třeba tři nebo čtyři sloupce. 

Pro každou variantu si pomocí devtools udělejte screenshot.
*/

header {
  display: flex;
  justify-content: space-between;
}

.galerie {
  display: flex;
  flex-wrap: wrap;
}

/* zde nastavuji zobrazení na dva sloupce */
.foto {
  flex: 50%;
}

/* varianta pro tři sloupce / lze použít i flex: 33.3% ) */
@media (max-width: 1200px) {
  .foto {
    flex: calc(100% / 3);
  }
}

/* varianta pro čtyři sloupce */
@media (max-width: 800px) {
  .foto {
    flex: 25%;
  }
}
